################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/.vs/HxStudioFileUploadService
/bin
/logs
/Properties
